# Week 1

## Logic Operators

In [ ]:
### Boolean Operators

In [2]:
False and False

False

In [3]:
True and False

False

In [4]:
True and True

True

In [8]:
True or False

True

In [9]:
True or 4

True

In [10]:
False or 4

4

In [ ]:
### Bitwise Operators

In [5]:
True & True

True

In [6]:
True & False

False

In [7]:
False & False

False

In [16]:
True& 1

1

In [17]:
True & 0

0

In [13]:
False & 0

0

In [15]:
False & 1

0

In [18]:
### Bool function

In [19]:
bool([])

False

In [20]:
bool(2)

True

In [21]:
bool(False)

False

In [22]:
bool(None)

False

## Strings

In [24]:
# f-string
first = 'first'
last = 'last'
f'Hi my name is {first} {last}'

'Hi my name is first last'

In [26]:
# join
' '.join([first, last])

'first last'

In [28]:
# format
'my name is {} {}'.format(first, last)

'my name is first last'

In [35]:
#index
'4th character of first is \'s\'-> ' + first[3]

"4th character of first is 's'-> s"

In [34]:
#slice
'last 2 characters of first are \'st\'-> ' + first[-2:]

"last 2 characters of first is 'st'->st"

In [36]:
'everything but the last 2 characters of first are \'fir\'-> ' + first[:-2]

"last 2 characters of first is 'st'-> fir"

In [39]:
'everything after the 1st index of characters of first are \'rst\'-> ' + first[2:] #inclusive

"everything after the 1st index of characters of first are 'rst'-> rst"

In [74]:
'everything up to the 1st index of characters of first are \'fi\'-> ' + first[:2] #exclusive

"everything up to the 1st index of characters of first are 'fi'-> fi"

In [75]:
a = 'pod'
b = 'mix'
a_2 = a[:2]
b[:2] = a_2
b

TypeError: 'str' object does not support item assignment

## Data Structures

In [ ]:
# lists

In [40]:
d = [1, 2, 3]
e = d.append(5)
print(d)
print(e) # append and extend operations mutate and dont have return values

[1, 2, 3, 5]
None

In [41]:
d.insert(0, -1)
d #prepend, more memory extensive

[-1, 1, 2, 3, 5]

In [42]:
sorted(d, reverse=True) #sort function, does not mutate

[5, 3, 2, 1, -1]

In [43]:
d #original still unsorted/untouched

[-1, 1, 2, 3, 5]

In [44]:
d.sort()
d # sort method mutates original

[-1, 1, 2, 3, 5]

In [45]:
# tuples

In [46]:
a = (1, 2, 3)
a[0] = 1 # tuples are not mutable

TypeError: 'tuple' object does not support item assignment

In [48]:
# sets
a = {'a', 'b', 'b', 'b', 'c', 'c'}
a

{'a', 'b', 'c'}

In [49]:
a.add([]) # cannot add in things that are mutable

TypeError: unhashable type: 'list'

In [50]:
a[0] # no order

TypeError: 'set' object is not subscriptable

In [51]:
a.add('d')
a

{'a', 'b', 'c', 'd'}

In [52]:
print(a.pop())

a

In [53]:
print(a)

{'c', 'b', 'd'}

In [55]:
# venn arithmetic
b = {'a', 'd', 'e'}
print('Union', a | b)
print('intersection', a & b)
print('Symmetric Diff', a ^ b)
print('Difference', a - b)

Union {'a', 'c', 'b', 'e', 'd'}
intersection {'d'}
Symmetric Diff {'a', 'c', 'e', 'b'}
Difference {'b', 'c'}

## Looping

In [60]:
# for loop else statements. gets executed if there are no breaks
for x in range(10):
    if x % 2 == 1:
        break
    else:
        print(x)
else:
    print('broken')

0

In [61]:
for x in range(10):
    if x % 2 == 1:
        continue
    else:
        print(x)
else:
    print('broken')

0
2
4
6
8
broken

## File IO

In [64]:
# write into file (create if does not exist)
with open ('test.txt', 'w') as file:
    file.write('new line')

In [65]:
with open ('test.txt') as file:
    content = file.read()

content

'new line'

In [67]:
lines = ['line1', 'line2', 'line3']
with open ('test.txt', 'a') as file: # need to open as a (append) to not overwrite existing content
    file.writelines(lines)

In [68]:
with open ('test.txt') as file:
    content = file.read()

content

'new lineline1line2line3'

## Type Annotations

In [70]:
# hint at what the types are for the values passed into and returned from the function
def add_ints(a: int, b: int) -> int:
    return a + b

In [71]:
from typing import Sequence, TypeVar
# can create our own sophisticated structures
Number = TypeVar(int, float, complex)

def my_sum(*args: Sequence[Number]) -> Number:
    return sum(args)

my_sum(1, 2.0, 3 + 4j)

(6+4j)

In [72]:
# specify created types from object
class MyType(type):
    pass

def myfunc(a: MyType) -> int:
    return

In [73]:
# typing is not obeyed in Python
add_ints('add', 'this')

'addthis'